<nav class="navbarmoviedet">
    <div>
        <a routerLink="/home"><img src="left-arrow-back-svgrepo-com.png" alt="logo" class="logomoviedet" width="40px" style="cursor: pointer;" /></a>
    </div>
    <div>
        
        <h2 class="titlenavbar">Favorites</h2>
       
    </div>
</nav>
<div class="fav">
    <section class="favorites-section">
  <h2 class="fav">Your Favorites 🎬</h2>

  @if (favorites.length > 0) {
    <div class="favorites-grid">
      @for (movie of favorites; track movie.id) {
        <div class="favorite-card" (click)="tomovie(movie.id)">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            [alt]="movie.title"
          />
          <p>{{ movie.title }}</p>
        </div>
      }
    </div>
  } @else {
    <p class="empty-text">No favorite movies yet 🎬</p>
  }
</section>

</div>